
@{
    ViewBag.Title = "Index";
}

<h1>Contact</h1>

<a href="https://fr.linkedin.com/in/laurent-chiaramonte-2b3b29119"><img src="images/linkedin.png" alt="Linkedin"></a>

<a href="mailto : chiaramonte.laurent@gmail.com"><img src="images/Gmail-Logo.png" alt="gmail"></a>