
@{
    ViewBag.Title = "Index";
}

<h1>Concepteur Développeur Informatique</h1>

<div class="Ligne"></div>

<p>Mon nom est Laurent Chiaramonte, j'habite à Marseille dans le 15 arrondissement.</p>    
<p>Je suis titulaire d'un titre de Concepteur Développeur Informatique obtenu en 2016 à l'AFPA de Marseille.</p>    
<p>Lien vers la formation Concepteur Développeur Informatique de l'AFPA : <a href="https://www.afpa.fr/formation-qualifiante/concepteur-developpeur-informatique">ici</a></p>

<div class="Ligne"></div>

