
@{
    ViewBag.Title = "Index";
}

<h1>Concepteur Développeur Informatique</h1>
<div class="Intro">
    Titulaire d'un titre de Concepteur-développeur informatique obtenu en 2016 à l'AFPA de Marseille.
</div>

