body 
{
    padding: 50px 20px 20px 0px;
    color: #048;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    line-height: 16px;
    background-color: lightgrey;
}

.navbar-fixed-top, .navbar-fixed-bottom
{ 
    background-color: #048; 
    color: black;
}

footer 
{ 
  text-align:center; 
  margin-top: 0px;
}

h1
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #549900;
    text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	color: #549900;
}

h2
{
    text-align: center;
    padding-top: 20px;
    color: #549900;
    text-align: center;
    font-size: medium;
}

h3
{
    text-align: center;
    padding-bottom: 10px;
    color: #549900;
    text-align: center;
    font-size: small;
}

.Ligne
{
	border : 1px solid #549900;
    margin-bottom: 20px;
}

.Ligne2
{
	border : 1px solid #549900;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-left
{
    background-color: #048;
    text-align: center;
    padding: 20px 20px 50px 20px;
    color: #549900;
    margin: 0px;
    height: 100%;
    width: 20%;
    position: absolute;
}

.container
{
    padding-left: 20px;
}
 /*Set padding to keep content from hitting the edges*/ 
/*.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}*/

 /*Set width on the form input elements since they're 100% wide by default*/
/*input,
select,
textarea 
{
    max-width: 280px;
}

a 
{ 
  color: #028; 
}*/
/*nav 
{
  background-color:#bcd;
  border-radius: 8px;
  padding: 0 !important;
  border: 1px solid #ddd;
}
section 
{ 
  padding-right: 0 !important; 
}
.panel 
{
  background-color: #bcd;
  border-radius: 8px;
  padding-bottom: 5px;
}*/
/*.nav > li > a:hover, .nav > li > a:focus 
{
  background-color: #cde; 
}
.panel-default > .panel-heading, .nav-pills > li.active > a,
     .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus 
{
  color: #048;
  background-color: #abc;
  border-radius: 8px;
}*/

