
@{
    ViewBag.Title = "Competences";
}

<h2>Competences</h2>

<div class="Competences">
    <ul class="point">
        <li>Analyse, Conception et développement d'applications n-tiers </li>
        <li>Développement d'interface et persistance des données </li>
        <li>Langages de programmation : C# </li>
        <li>IDE : Visual Studio </li>
        <li>Développement n-tiers : IIS, dot.net, Design Pattern</li>
        <li>Web : HTML5, CSS3, JavaScript, jQuery, Ajax, </li>
        <li>Sites mobiles,  standards W3C</li>
        <li>Persistance des données : MS SQL Server, WCF, Ado.Net</li>
        <li>Analyse/conception : Modélisation Agile & UML, Merise, SCRUM</li>
    </ul>
</div>