
@{
    ViewBag.Title = "Diplomes";
}

<h2>Diplomes</h2>

<div class="Etudes">
    2016 &nbsp	 Concepteur Développeur Informatique AFPA St-Jérôme, Marseille <br />
    2010 &nbsp	 Brevet technicien supérieur Transport et Logistique Vitrolles <br />
    2008 &nbsp	 Baccalauréat professionnel Logistique Mention Assez-bien LPP St André, Marseille <br />
    2006 &nbsp	 Brevet Etude professionnel Conduite et services LPP St André, Marseille <br />
</div>