
@{
    ViewBag.Title = "Divers";
}

<h2>Divers</h2>

<div class="Divers">
    Anglais (technique), Italien (scolaire) Permis B, C, E(C), bateau <br />
    Informatique, Motocross, Football, Jetski, Voyages (Chine, Italie, Espagne)
</div>