
@{
    ViewBag.Title = "Experience";
}

<h2>Experience</h2>

<div class="Experience">
    Août 2016 - Novembre 2016   Concepteur Développeur Informatique SPIR Communication (Service ADREXO), 13290 Les Milles
    <ul class="valid">
        <li>Analyse UML (PowerAMC)</li>
        <li>Etude Merise (PowerAMC)</li>
        <li>Application WinForm (Visual Studio 2015)</li>
        <li>Accès base de données Oracle (TOAD pour Oracle)</li>
    </ul>
    2011-2014	Responsable service Norbert Dentressangle, 13120 Bouc Bel Air
    <ul class="valid">
        <li>Organiser et planifier les plans de tournées de 5 à 20 conducteurs</li>
        <li>Etablir et actualiser le planning quotidien des conducteurs routiers</li>
        <li>Suivre et vérifier les éléments d’activité du personnel</li>
        <li>Apporter un appui technique aux conducteurs en cas problème divers</li>
        <li>Identifier les anomalies et mettre en place des mesures correctives</li>
        <li>Constituer le dossier de transport et transmettre les documents aux clients</li>
        <li>Suivre et contrôler la réalisation du transport</li>
        <li>Renseigner le support des suivis d’activité et identifier les écarts</li>
        <li>Organiser et planifier l’activité de maintenance d’un  parc de 50 véhicules </li>
        <li>Enregistrer les réclamations et proposer au client des solutions </li>
    </ul>
    2008- 2010	 Conducteur Melko Palettes, 13127 Vitrolles (E(C) régional)
</div>